<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>adminApplications</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" href="style.css"/>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
</head>
<body>

<nav class="navbar navbar-inverse	navbar-fixed-top">
    <a class="navbar-brand" href="/">KEA</a>
</nav>

<div class="jumbotron">
    <h1 class="display-3">Course List</h1>
    <p class="lead">
    </p>
    <hr class="my-4"/>

    <p class="lead">

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Student Email</td>
            <td>Student Name</td>
            <td>Course Applied for</td>
            <td>Approve</td>
            <td>Reject</td>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${applicationList.empty}">
            <td colspan="5">No Applications</td>
        </tr>

        <tr th:each="application : ${applicationList}" th:if="${application.status} == ${pending}" >
            <td th:text="${application.student.email}">email</td>
            <td th:text="${application.student.name}">student</td>
            <td th:text="${application.course.namee}">course</td>
            <td>
                <form action="#" th:action = "@{/admin/applications/approve}" method="post">
                    <button type="submit" th:value = "${application.id}" name="id" onclick="javascript:getUniqueButtonValue($(this).val()); ">Approve</button>
                </form>
            </td>
            <td>
                <form action="#" th:action = "@{/admin/applications/reject}" method="post">
                    <button type="submit" th:value = "${application.id}" name="id" onclick="javascript:getUniqueButtonValue($(this).val()); ">Reject</button>
                </form>
            </td>
        </tr>

        <a href="/admin/loggedIn">
            <input type="button" value="Go back!" >
            </input>
        </a>

        </tbody>
    </table>

    </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js" ></script>
</body>
</html>