<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Administrator Login</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" href="style.css"/>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top	">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">KEA</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li ><a href="/student">Student</a></li>
                <li><a href="/teacher">Teacher</a></li>
                <li class="active" ><a href="/admin">Admin<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <br/>
    <br/>
    <p class="lead">
    <form action="#" th:action="@{/admin}" th:object="${admin}" method="post">
    <p>
    <div class="input-group" >
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" id="adminemail" name="adminemail" placeholder="email" required="true" aria-describedby="basic-addon1"/>
    </div>
    </p>
    <p>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">»»</span>
        <input type="password" class="form-control" id="adminpassword" name="adminpassword" placeholder="password" required="true" aria-describedby="basic-addon1"/>
    </div>
    </p>

    <p>
    <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group" role="group" aria-label="Log In"><button type="submit" class="btn btn-default">Log In</button></div>
    </div>
    </p>
    </form>
    </p>

</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js" ></script>
</body>
</html>

